.bg-light-gold{
        
    background-color: #fbf5e5;
  }
.text-gold{
    color : #c29938;
  }
.border-gold{
    border-color: #c29938;
  }
.text-bronze{
    color: #CD7F32;
  }
.border-bronze{
    color: #CD7F32;
  }
.text-silver{
    color:#C0C0C0;
  }
.text-darkgray{
    color:#A9A9A9;
  }