{% extends "base.html" %}

{% block content %}

    <div class="content-section">
        <h1 class="p-1 m-3">事項 全覽</h1>
        
    <div>
        {% for todo in todos %}
            <div class="card p-1 m-3">
                <div class="card-body">
                    {% if todo.completed == True %}
                    <h5 class="card-title"><del>{{ todo.title }}</del></h5>
                    {% else %}
                    <h5 class="card-title">{{ todo.title }}</h5>
                    {% endif %}
                    <p class="card-text text-muted">{{ todo.date_created }}</p>
                    <p class="card-text">{{ todo.description }}</p>
                    
                    <!-- For Update and Delete -->
                    <a href="{{ url_for('main.update_todo', id = todo.id) }}" class="btn btn-outline-info btn-sm">Update</a>
                    <a href="{{ url_for('main.delete_todo', id = todo.id) }}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}